
<h1>Hello world using index</h1>


<a href= /demo/test >Hello world1</a><br />
<%= link_to('Hello World2', {:action => 'test'}) %> <br />


<%= link_to('Hello with parameters', {:action => 'test' , :page => 5 , :id => 20 }) %> <br />