 <%= link_to("<< Back to list", sections_path, :class => 'back-link ') %>

 <div class="sections new">
 	<h2>create section</h2>
 	<%= form_for(@section) do |f| %>

<%= render(:partial => 'sform' , :locals => {:f => f}) %>
 	
 	</table>
 	<div class = "form-buttons">
 		<%= f.submit("create section")  %>
 	</div>
<% end %>
 	 
 </div>