<%= link_to("<< Back to list", pages_path, :class => 'back-link ') %>

 <div class="pages new">
 	<h2>update Page</h2>
 	<%= form_for(@page) do |f| %>
 	
 	<%= render(:partial => 'pform' , :locals => {:f => f}) %>

 	</table>
 	<div class = "form-buttons">
 		<%= f.submit("update page")  %>
 	</div>
 	<% end %>


 	 
 </div>