 <% @page_name = "update admin user" %>

 <%= link_to("<< Back to Menu", admin_users_path, :class => 'back-link ') %>

 <div class="admin-users edit">
 	<h2>Update Admin user</h2>
 	<%= form_for(@admin_user) do |f| %>
 	 
 <%= render(:partial => 'form' , :locals => {:f => f}) %>


 </table>

 	<div class = "form-buttons">
 		<%= f.submit("update admin user")  %>
 	</div>


 	<% end %>
 </div>