<% @page_title = @page_name %>

<h2><% @page.name %></h2>
<% @page.sections.visible.sorted.each do |sections| %>
<div class = "section">
	<% case section.content_type %>
	<% when 'HTML' %>
	<% raw(sanitize(section.content ,  :tags => ['strong' , 'em' , 'a'])) %>
	<% whtn 'text' %>
	<% simple_format(section.content) %>
	<% end %>
</div>
<% end %>
